<!DOCTYPE html>
<html>
  <head>
    <title>Overtime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if notice %>
    <div id="notice-wrapper">
      <p class="notice"><%= notice %></p>
    </div>
    <% elsif alert %>
    <div id="notice-wrapper">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= render 'shared/nav' %>
          <%= yield %>  
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function(){
        setTimeout(function(){
          $('#notice-wrapper').fadeOut("slow", function() {
            $(this).remove();
          });
        }, 4500);
      });
    </script>

  </body>
</html>
